<!DOCTYPE html>
<html lang="en">
<%- include("partials/head")%>
<body>
    <%- include("partials/nav") %>
    <main class="content">
      <h1 class="content__title">Contacto</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget auctor odio. Curabitur tempus aliquam magna, eu tincidunt risus suscipit vel. Nulla tortor elit, cursus quis tincidunt vel, lobortis at augue. In at tortor viverra, lacinia libero ac, consequat turpis. Quisque non tellus velit. In hac habitasse platea dictumst. Donec rhoncus maximus dolor, vitae cursus lacus. Aliquam erat volutpat. Nullam fermentum, nisl a ultrices rhoncus, justo mauris fermentum sem, feugiat viverra augue felis et enim. Duis ultrices faucibus nisi, congue laoreet felis feugiat eget. Nullam id vulputate risus.</p>
    </main>
</body>
</html>
