<!DOCTYPE html>
<html lang="en">
<%- include("partials/head")%>
<body>
    <%- include("partials/nav") %>
    <main class="content">
      <h1 class="content__title">Proyecto</h1>
      <img src="/01.png" alt="proyecto">
    </main>
</body>
</html>
