<header class="header">
    <nav>
      <ul class="menu">
        <li><a href="/" class="menu__link">Inicio</a></li>
        <li><a href="/contacto" class="menu__link">Contacto</a></li>
        <li><a href="/proyecto" class="menu__link">Proyectos</a></li>
      </ul>
    </nav>
  </header>
