*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 50%;
}

.header{
  background-color: #000;
  padding: 1rem;
}

.menu{
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu__link{
  color: #fff;
  margin: 2rem;
  text-decoration: none;
}

.title{
  margin-top: 5rem;
  text-align: center;
  font-size: 3rem;
}

.content{
  margin: 5rem auto;
  text-align: center;
  width: 80%;
}

.content__title{
  margin-bottom: 2rem;
}

